subnet {{ dhcp_subnet }} netmask {{ dhcp_netmask }} {
    range {{ dhcp_range_start }} {{ dhcp_range_end }};
    option domain-name-servers {{ dhcp_dns_server }};
    default-lease-time {{ dhcp_default_lease_time }};
    max-lease-time {{ dhcp_max_lease_time }};
    option domain-name "{{ dhcp_domain_name }}";

  }

  host {{ dhcp_host_name }} {
    hardware ethernet {{ dhcp_host_mac }};
    fixed-address {{ dhcp_host_ip }};
  }