$TTL {{ item.ttl }}
@       IN      SOA     {{ item.primary_ns }}. {{ item.hostmaster }}. (
                        {{ item.serial }}      ; serial
                        {{ item.refresh }}     ; refresh
                        {{ item.retry }}       ; retry
                        {{ item.expire }}      ; expire
                        {{ item.minimum }} )   ; minimum

        IN      NS      {{ item.primary_ns }}.
        IN      NS      {{ item.secondary_ns }}.

        IN      MX      10      {{ item.mail_server }}.
{loop item.hosts as record}
{{ record.name }}    IN     A     {{ record.ip_address }}
{/loop}

{{ item.cname }}     IN      CNAME   {{ item.host }}
