options {
  listen-on port 53 { any; };
  listen-on-v6 port 53 { any; };
  directory "/var/named";
  dump-file "/var/named/data/cache_dump.db";
  statistics-file "/var/named/data/named_stats.txt";
  memstatistics-file "/var/named/data/named_mem_stats.txt";
  allow-query { any; };
  recursion yes;
  dnssec-enable yes;
  dnssec-validation yes;
  dnssec-lookaside auto;
  bindkeys-file "/etc/named.root.key";
};

zone "domain1.com" IN {
  type master;
  file "domain1.com.zone";
  allow-update { none; };
};

zone "domain2.com" IN {
  type master;
  file "domain2.com.zone";
  allow-update { none; };
};