options {
  listen-on port 53 { any; };
  listen-on-v6 port 53 { any; };
  directory "/var/named";
  dump-file "/var/named/data/cache_dump.db";
  statistics-file "/var/named/data/named_stats.txt";
  memstatistics-file "/var/named/data/named_mem_stats.txt";
  allow-query { any; };
  recursion yes;
  dnssec-enable yes;
  dnssec-validation yes;
  dnssec-lookaside auto;
  bindkeys-file "/etc/named.root.key";
};

#multiple domains
{% for item in domains %}
zone "{{item.name}}" IN {
  type master;
  file "{{item.name}}.db";
  allow-update { none; };
  allow-transfer { any; };
};
{% endfor %}

