Namevirtualhost *:80

<VirtualHost *:80>
    ServerName {{ item.name }}
    ServerAlias www.{{ item.name }}
    DocumentRoot /srv/{{ item.name}}/public_html
    ErrorLog /srv/{{ item.name}}/error.log
    CustomLog /srv/{{item.name}}/requests.log combined
</VirtualHost>

